<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}

</head>
<body>
{#{% include 'includes/navbar.hml' %}#}
    <div class="searchbox" id="searchbar">
        {% include 'includes/searchbar.html' %}
    </div>
    <div class="container container-fluid" id="divSearchResuls">
        {% block content %}{% endblock %}
        {% block footer %}
        {% endblock %}
    </div>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg=="
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">

    <script src="{% static 'js/lib/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/lib/angular.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.js' %}"></script>
    <script src="{% static 'js/site.js' %}"></script>
</body>
</html>
